<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>

    <script>
        var module=angular.module("myKuchModule",[]);
       
               var controller=module.controller("myKuchController",function($scope,$http)
               {
                   $scope.jsonArraydata;
                   $scope.jsonArrayAll;
        
       
       
                   $scope.filldata=function()
                       {
                           let url="/fetch-all-data";
                           $http.get(url).then(function(response)
                           {
                              // alert(JSON.stringify(response.data)) ;
                               $scope.jsonArraydata=response.data;
       
                           },function(err)
                           {
                               alert(err)
                           });
                           
                       }
                       $scope.getAll=function()
                       {
                           let url="/fetch-all-inf";
                           $http.get(url).then(allIsWell,notWell);
       
                           function allIsWell(response)
                           {
                               //alert(JSON.stringify(response.data)) ;
                               $scope.jsonArrayAll=response.data;
       
                           }
                           function notWell(err)
                           {
                               alert(err)
                           }
                       }
                    
                       
               });        
           </script>

</head>
<body ng-app="myKuchModule" ng-controller="myKuchController" ng-init="filldata(); getAll();">
    <div style="background-color: blue;  color: aliceblue; font-size: 30px;">
       <b><center>INFLUENCER CONSOLE</center>  </b>
    </div>
 
    <center>
        <div class="container">
    
         <input type="button" value="Show ALL" ng-click="getAll();">
        <br>
              

                <div class="container">

                    
                    <table width="700" border="1" class="table" >
                        <tr>
                         <th>Sr.No</th>
                         <th>Email ID</th>
                         <th> Profile Pic</th>
                         <th>First Name</th>
                         <th>Last Name</th>
                         <th>Gender</th>
                         <th>Date Of Birth</th>
                         <th>Address</th>
                         <th>City</th>
                         <th>Zip</th>
                         <th>Instagram</th>
                         <th>Facebook</th>
                         <th>Youtube</th>
                        </tr> 
                        <tr ng-repeat="obj in jsonArrayAll">
                             <td>{{$index+1}}</td>
                             <td>
                                {{obj.email}}
                            </td>
                             <td>
                                 {{obj.ppic}}
                             </td>
                             <td>
                                {{obj.fname}}
                            </td>
                             <td>
                                 {{obj.lname}}
                             </td>
                             <td>
                                {{obj.gender}}
                            </td>
                            <td>
                                {{obj.dob}}
                            </td>
                            <td>
                                {{obj.addr}}
                            </td>
                            <td>
                                {{obj.city}}
                            </td>
                            <td>
                                {{obj.state}}
                            </td>
                            <td>
                                {{obj.zip}}
                            </td>
                            <td>
                                {{obj.isnta}}
                            </td>
                            <td>
                                {{obj.fb}}
                            </td>
                            <td>
                                {{obj.yt}}
                            </td>
                        </tr>
     
                 </table>
                </div>      
    </center>
        </div>
</body>
</html>